.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  margin:0;
  padding:0;
  height:100vh;
  background-color: #ADD8E6;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  width:100%;
  
}

header {
  padding: 2rem 2rem 2rem 2rem; 
  height:20%;
  position: relative;
  left: -XXpx;
}

.header {
  text-align: center;

}

/* NavBar CSS  */
.navbar {
  width:100%;
}

.nav-div {
  height: 0px;
  min-width: 700px;
  width: 100%;
  margin-top: 10px;
  display: inline;
  justify-content: left;
  align-items: center;
}

.nav-link{
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  margin: 0 6px 6px;
  background: 00bfb2;
  text-decoration: none;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: min(10vw, 15px) ;
  color: black;
}

/* End of Navbar CSS */



