

.bookcard {
    /* border: 1px solid black;
    box-shadow: 0 0 7px 0 #ddd; */
    border-radius: 4px;
    background-color: #e6c39c;
    align-items: center;
    text-align: center;
    padding:1rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    display: inline-block;
    /* width: 95%; */
  }

  h3{
    display: inline inline-block;
    border: 2px solid black; /* Set border style, color, and width */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    padding: 10px; /* Optional: Add padding to the card */
    display: inline-block; /* Display elements side by side */
    margin-right: 10px;
    
  }

  .card-content {
    height: 60vh;    
    overflow: scroll;
  }

  .bookfront {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container {
    width:50%;
    display:flex;
  }

  .search {
    margin: 0 auto;
    display: inline-block;
    
  }

  .search-container {
    display: flex;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size:1em;
    width:70%;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
  }

  .search-container input {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size:1em;
    width:100%;
}

.search-bar-div {
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.search-wrapper {
    justify-content: center;
    background-color: #e6c39c;
    padding-top: 10px
}

.books-wrapper {
    outline: thick double #4a4643;
    width:50%;
    /* display: flex; */
    justify-content: center;
}

.helement {
  display: inline-block; 
  margin-right: 10px;
}

