.login {
  justify-content: center;
  margin-top: 1em;
  gap:.25em;
  display: inline;
  box-sizing:border-box;
  border-radius: 2em;
  font-size: 1em;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  box-sizing:border-box;
  width:60%;
}

.signupform {
    margin-bottom: 5px;
    margin-top: 1em;
    gap:.25em;
    
}

input {
    width: 100%;
}

.flex-container {
    display: flex;
    margin: -10px 120px
  }
  
  .flex-child {
    flex: 1;
  }

  .wrapper {
    background-color: #e6c39c;
    outline: thick double #4a4643;
    width:60%;
  }
  
  /* .login, .signup {
    Add any additional styling you need 
  }
  
  .signupright {
    Add any additional styling you need
  } */